/* create_question.php */
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #343a40;
    background-color: #ffffff;
    border-color: #ced4da;
}

.btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #ced4da;
}

/* /create_question.php */
