html,
body {
    height: 100%;
}

main {
    margin-top: 5rem;
}

/* Ценник на картинке товара */
.sp {
    position: absolute;
    top: 75%;
    align-self: center;
}

.img-wrap {
    position: relative;
}

.img-wrap-span {
    position: absolute;
    left: 20%;
    bottom: 5%;
    width: 60%;
}

/* Старая цена */
.old-price {
    text-decoration: line-through;
}

/* Красивые кнопочки */
.myB {
    transition: 0.1s;
}

.myB:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.1s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #ffc107;
}

.orange {
    background-color: #ffc1074f;
}

.orange:hover,
.orange:focus {
    background-color: #ffc107ca !important;
}

/* Для ссылок */

.links a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.links a::before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: 0.2s;
}

.links a:hover:before {
    width: 100%;
    left: 0;
}


/* Тёмный прозрачный задний фон */

.bg-dark-trans {
    background-color: #343a407a !important;
}

/* Карточки */
.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Пегинация */

.page-link {
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #0056b3;
    border-color: #0000007a;
}

.page-link:focus {
    border-color: #ffecb2;
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.25);
}

/* Для кнопок действий в админке */
.my-line {
    display: inline;
}

/* rotate */
.settings_icon i {
    transition: 1s;
}
.settings_icon:hover i {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    transition: 1s;
}
.delete_icon i{
    transition: 0.3s;
}
.delete_icon:hover i {
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
    transition: 0.3s;
}