<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/template/css/bootstrap.css?>">
    <link rel="stylesheet" href="/template/css/my.css">

    <title>MSTORE</title>
</head>

<body class="bg-light d-flex flex-column h-100">
    <nav class="navbar navbar-expand-sm navbar-light bg-warning top">
        <a class="navbar-brand" href="#">MSTORE</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Соглашение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Поддержка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Группа ВК</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <!-- Топ 5 (акции и лучшие) -->
        <div class="container mt-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img src="/template/images/topBig.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-md-block justify-content-center text-warning">
                                <span class="border border-warning p-1 text-center">
                                    <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                                    <span class="font-weight-bold m-0">99 &#x20bd;</span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img src="/template/images/topBig2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-md-block justify-content-center text-warning">
                                <span class="border border-warning p-1">
                                    <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                                    <span class="font-weight-bold m-0">99 &#x20bd;</span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img src="/template/images/topBig.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-md-block justify-content-center text-warning">
                                <span class="border border-warning p-1">
                                    <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                                    <span class="font-weight-bold m-0">99 &#x20bd;</span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img src="/template/images/topBig2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-md-block justify-content-center text-warning">
                                <span class="border border-warning p-1">
                                    <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                                    <span class="font-weight-bold m-0">99 &#x20bd;</span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img src="/template/images/topBig.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-md-block justify-content-center">
                                <span class="border border-warning text-warning p-1">
                                    <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                                    <span class="font-weight-bold m-0">99 &#x20bd;</span>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- / Топ 5 (акции и лучшие) -->
        <!-- Популярные игры -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4 mb-4">
                    <div class="card">
                        <img src="/template/images/low1.png" class="card-img-top" alt="...">
                        <span class="sp border border-warning text-warning p-1">
                            <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                            <span class="font-weight-bold m-0">99 &#x20bd;</span>
                        </span>
                        <a href="#" class="myB btn btn-warning btn-block rounded-0">Купить</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4 mb-4">
                    <div class="card">
                        <img src="/template/images/low1.png" class="card-img-top" alt="...">
                        <span class="sp border border-warning text-warning p-1">
                            <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                            <span class="font-weight-bold m-0">99 &#x20bd;</span>
                        </span>
                        <a href="#" class="myB btn btn-warning btn-block rounded-0">Купить</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4 mb-4">
                    <div class="card">
                        <img src="/template/images/low1.png" class="card-img-top" alt="...">
                        <span class="sp border border-warning text-warning p-1">
                            <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                            <span class="font-weight-bold m-0">99 &#x20bd;</span>
                        </span>
                        <a href="#" class="myB btn btn-warning btn-block rounded-0">Купить</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4 mb-4">
                        <div class="card">
                            <img src="/template/images/low1.png" class="card-img-top" alt="...">
                            <span class="sp border border-warning text-warning p-1">
                                <span class="old-price font-weight-light m-0">499 &#x20bd;</span>
                                <span class="font-weight-bold m-0">99 &#x20bd;</span>
                            </span>
                            <a href="#" class="myB btn btn-warning btn-block rounded-0">Купить</a>
                        </div>
                    </div>
            </div>
        </div>
        <!-- / Популярные игры -->
    </main>
    <footer class="container py-5">
        <div class="row">
            <div class="col-6 col-md">
                <h5>Поддержка</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Соглашение</a></li>
                    <li><a class="text-muted" href="#">Поддержка</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Наши друзья</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Спонсоры</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Общение</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Группа ВК</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Наша команда</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="/template/js/bootstrap.js">
    </script>

</body>

</html>